.app-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.app-background-default {
    background-image: url('./default-background.jpg');
    background-size: 100vw 100vh;
}

.app-background-daylight {
    background-image: url('./daylight-background.jpg');
    background-size: 100vw 100vh;
}

.app-background-night {
    background-image: url('./night-background.jpg');
    background-size: 100vw 100vh;
}

.app-background-rainy {
    background-image: url('./rainy-background.jpg');
    background-size: 100vw 100vh;
}

.app-background-snow {
    background-image: url('./snow-background.jpg');
    background-size: 100vw 100vh;
}

.app-inner {
    display: flex;
    flex-direction: column;
}

.app-weather-today {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
